version: '3.8'

services:
  db:
    image: postgres:17-alpine
    container_name: db_dde
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME:-gauzy}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-gauzy_password}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./.deploy/db/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    ports:
      - '5433:5432'  # Changed from 5432 to 5433
    networks:
      - overlay

  minio:
    restart: unless-stopped
    image: quay.io/minio/minio:latest
    container_name: minio_dde
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: ever-gauzy-access-key
      MINIO_ROOT_PASSWORD: ever-gauzy-secret-key
    command: server /data --address :9001 --console-address ":9002"  # Changed ports
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9001/minio/health/live']  # Changed port
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 9001:9001  # Changed from 9000 to 9001
      - 9002:9002  # Changed from 9001 to 9002
    networks:
      - overlay

  minio_create_buckets:
    image: minio/mc
    environment:
      MINIO_ROOT_USER: ever-gauzy-access-key
      MINIO_ROOT_PASSWORD: ever-gauzy-secret-key
    entrypoint:
      - '/bin/sh'
      - '-c'
    command:
      - "until (/usr/bin/mc alias set minio http://minio:9001 $$MINIO_ROOT_USER $$MINIO_ROOT_PASSWORD) do  # Changed port
        echo 'Waiting to start minio...' && sleep 1;
        done;
        if /usr/bin/mc ls minio/ever-gauzy >/dev/null 2>&1; then
        echo 'Bucket already exists, skipping creation.';
        else
        /usr/bin/mc mb minio/ever-gauzy --region=eu-north-1;
        fi;
        exit 0;"
    depends_on:
      minio:
        condition: service_healthy
    networks:
      - overlay

  redis:
    image: 'redis:alpine'
    container_name: redis_dde
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli -h localhost -p 6379 PING']
      interval: 1s
      timeout: 30s
    ports:
      - '6379'
    volumes:
      - ./.deploy/redis/data:/data
    networks:
      - overlay

  api:
    container_name: api_dde
    image: ghcr.io/ever-co/gauzy-api:latest
    environment:
      API_HOST: ${API_HOST:-api}
      API_PORT: ${API_PORT:-3001}  # Changed from 3000 to 3001
      NODE_ENV: ${NODE_ENV:-development}
      DB_HOST: db
      API_BASE_URL: ${API_BASE_URL:-http://localhost:3001}  # Changed from 3000 to 3001
      CLIENT_BASE_URL: ${CLIENT_BASE_URL:-http://localhost:4201}  # Changed from 4200 to 4201
      CLOUD_PROVIDER: ${CLOUD_PROVIDER:-}
      SENTRY_DSN: ${SENTRY_DSN:-}
      SENTRY_HTTP_TRACING_ENABLED: ${SENTRY_HTTP_TRACING_ENABLED:-}
      SENTRY_POSTGRES_TRACKING_ENABLED: ${SENTRY_POSTGRES_TRACKING_ENABLED:-}
      SENTRY_PROFILING_ENABLED: ${SENTRY_PROFILING_ENABLED:-}
      POSTHOG_KEY: ${POSTHOG_KEY:-}
      POSTHOG_HOST: ${POSTHOG_HOST:-}
      POSTHOG_ENABLED: ${POSTHOG_ENABLED:-}
      POSTHOG_FLUSH_INTERVAL: ${POSTHOG_FLUSH_INTERVAL:-}
      JITSU_SERVER_URL: ${JITSU_SERVER_URL:-}
      OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: ${OTEL_EXPORTER_OTLP_TRACES_ENDPOINT:-}
      OTEL_EXPORTER_OTLP_HEADERS: ${OTEL_EXPORTER_OTLP_HEADERS:-}
      OTEL_ENABLED: ${OTEL_ENABLED:-}
      OTEL_PROVIDER: ${OTEL_PROVIDER:-}
      JITSU_SERVER_WRITE_KEY: ${JITSU_SERVER_WRITE_KEY:-}
      GAUZY_GITHUB_CLIENT_ID: ${GAUZY_GITHUB_CLIENT_ID:-}
      GAUZY_GITHUB_CLIENT_SECRET: ${GAUZY_GITHUB_CLIENT_SECRET:-}
      GAUZY_GITHUB_WEBHOOK_URL: ${GAUZY_GITHUB_WEBHOOK_URL:-}
      GAUZY_GITHUB_WEBHOOK_SECRET: ${GAUZY_GITHUB_WEBHOOK_SECRET:-}
      GAUZY_GITHUB_APP_PRIVATE_KEY: ${GAUZY_GITHUB_APP_PRIVATE_KEY:-}
      GAUZY_GITHUB_APP_ID: ${GAUZY_GITHUB_APP_ID:-}
      GAUZY_GITHUB_APP_NAME: ${GAUZY_GITHUB_APP_NAME:-}
      GAUZY_GITHUB_POST_INSTALL_URL: ${GAUZY_GITHUB_POST_INSTALL_URL:-}
      GAUZY_GITHUB_OAUTH_CLIENT_ID: ${GAUZY_GITHUB_OAUTH_CLIENT_ID:-}
      GAUZY_GITHUB_OAUTH_CLIENT_SECRET: ${GAUZY_GITHUB_OAUTH_CLIENT_SECRET:-}
      GAUZY_GITHUB_OAUTH_CALLBACK_URL: ${GAUZY_GITHUB_OAUTH_CALLBACK_URL:-}
      MAGIC_CODE_EXPIRATION_TIME: ${MAGIC_CODE_EXPIRATION_TIME:-}
      APP_NAME: ${APP_NAME:-}
      APP_LOGO: ${APP_LOGO:-}
      APP_SIGNATURE: ${APP_SIGNATURE:-}
      APP_LINK: ${APP_LINK:-}
      APP_EMAIL_CONFIRMATION_URL: ${APP_EMAIL_CONFIRMATION_URL:-}
      APP_MAGIC_SIGN_URL: ${APP_MAGIC_SIGN_URL:-}
      COMPANY_LINK: ${COMPANY_LINK:-}
      COMPANY_NAME: ${COMPANY_NAME:-}

    env_file:
      - .env.compose
    entrypoint: './entrypoint.compose.sh'
    command: ['node', 'main.js']
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_healthy
      minio_create_buckets:
        condition: service_started
    links:
      - db:${DB_HOST:-db}
      - redis:${REDIS_HOST:-redis}
      - minio:${MINIO_HOST:-minio}
    ports:
      - '3001:3001'  # Changed from 3000 to 3001
    networks:
      - overlay

  webapp:
    container_name: webapp_dde
    image: ghcr.io/ever-co/gauzy-webapp:latest
    environment:
      WEB_HOST: ${WEB_HOST:-webapp}
      WEB_PORT: ${WEB_PORT:-4201}  # Changed from 4200 to 4201
      NODE_ENV: ${NODE_ENV:-development}
      API_BASE_URL: ${API_BASE_URL:-http://localhost:3001}  # Changed from 3000 to 3001
      CLIENT_BASE_URL: ${CLIENT_BASE_URL:-http://localhost:4201}  # Changed from 4200 to 4201
      SENTRY_DSN: ${SENTRY_DSN:-}
      SENTRY_TRACES_SAMPLE_RATE: ${SENTRY_TRACES_SAMPLE_RATE:-0.1}
      SENTRY_PROFILE_SAMPLE_RATE: ${SENTRY_PROFILE_SAMPLE_RATE:-1}
      CHATWOOT_SDK_TOKEN: ${CHATWOOT_SDK_TOKEN:-}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME:-}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY:-}
      GOOGLE_MAPS_API_KEY: ${GOOGLE_MAPS_API_KEY:-}
      GOOGLE_PLACE_AUTOCOMPLETE: ${GOOGLE_PLACE_AUTOCOMPLETE:-false}
      DEFAULT_LATITUDE: ${DEFAULT_LATITUDE:-42.6459136}
      DEFAULT_LONGITUDE: ${DEFAULT_LONGITUDE:-23.3332736}
      DEFAULT_CURRENCY: ${DEFAULT_CURRENCY:-USD}
      GAUZY_GITHUB_CLIENT_ID: ${GAUZY_GITHUB_CLIENT_ID:-}
      GAUZY_GITHUB_APP_NAME: ${GAUZY_GITHUB_APP_NAME:-}
      GAUZY_GITHUB_REDIRECT_URL: ${GAUZY_GITHUB_REDIRECT_URL:-}
      GAUZY_GITHUB_POST_INSTALL_URL: ${GAUZY_GITHUB_POST_INSTALL_URL:-}
      GAUZY_GITHUB_APP_ID: ${GAUZY_GITHUB_APP_ID:-}
      JITSU_BROWSER_URL: ${JITSU_BROWSER_URL:-}
      JITSU_BROWSER_WRITE_KEY: ${JITSU_BROWSER_WRITE_KEY:-}
      DEMO: ${DEMO:-false}
      API_HOST: ${API_HOST:-api}
      API_PORT: ${API_PORT:-3001}  # Changed from 3000 to 3001
    entrypoint: './entrypoint.compose.sh'
    command: ['nginx', '-g', 'daemon off;']
    env_file:
      - .env.compose
    restart: on-failure
    links:
      - db:${DB_HOST:-db}
      - api:${API_HOST:-api}
      - redis:${REDIS_HOST:-redis}
      - minio:${MINIO_HOST:-minio}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_healthy
      minio_create_buckets:
        condition: service_started
      api:
        condition: service_started
    ports:
      - '4201:4201'  # Changed from 4200 to 4201
    networks:
      - overlay

volumes:
  postgres_data: {}
  minio_data: {}

networks:
  overlay:
    driver: bridge